<div class="nav-wrapper">
        <a href="{{ '/' | prepend: site.baseurl }}" class="white-text"><span class="site-title">{{ site.title }}</span></a>
      <a href="#" data-activates="mobile-navbar" class="button-collapse"><i class="mdi mdi-menu white-text"></i></a>
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ '/last' | prepend: site.baseurl }}" class="white-text">Last Year
        </a></li>
        <li><a href="{{ '/lasttwo' | prepend: site.baseurl }}" class="white-text"> Last Two Years
        </a></li>
        <li><a href="{{ '/lastthree' | prepend: site.baseurl }}" class="white-text"> Last Three Years
        </a></li>
        <li><a href="{{ '/lastfour' | prepend: site.baseurl }}" class="white-text"> Last Four Years
        </a></li>
      </ul>
      <ul class="side-nav" id="mobile-navbar">
        <li><a href="{{ '/last' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
            Last Year
        </a></li>
        <li><a href="{{ '/lasttwo' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
            Last Two Years
        </a></li>
        <li><a href="{{ '/lastthree' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text"> Last Three Years
        </a></li>
        <li><a href="{{ '/lastfour' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text"> Last Four Years
        </a></li>
      </ul>
</div>
